## Problem 1: Unique Words in a Sentence

In [1]:
sentence = input("Enter sentence: ")

# split into words
words = sentence.split()

# remove duplicates
unique_words = set(words)

# count unique words
count = len(unique_words)

print("Unique words count:", count)
print("Unique words:", unique_words)

Enter sentence:   python is easy and python is powerful

Unique words count: 5
Unique words: {'is', 'python', 'and', 'easy', 'powerful'}

## Problem 2: Highest Salary from Employee Data

In [2]:
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

highest_employee = ""
highest_salary = 0

# find highest salary
for name, salary in employees.items():
    if salary > highest_salary:
        highest_salary = salary
        highest_employee = name

print("Highest Salary:", highest_employee, "-", highest_salary)

Highest Salary: Ravi - 75000

## Problem 3: Find Maximum and Minimum Values

In [4]:
numbers = [45, 22, 89, 10, 66]
max_value = numbers[0]
min_value = numbers[0]


for num in numbers:
    if num > max_value:
        max_value = num
    if num < min_value:
        min_value = num

print("List:", numbers)
print("Max:", max_value)
print("Min:", min_value)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

## Problem 4: Count Products Above a Price Threshold

In [5]:
prices = [450, 1200, 899, 1500, 300]
count = 0

for price in prices:
    if price > 1000:
        count += 1

print("Products above 1000:", count)

Products above 1000: 2

## Problem 5: Calculate Attendance Percentage

In [6]:
attendance = ["P", "P", "A", "P", "P"]
present_count = 0

for day in attendance:
    if day == "P":
        present_count += 1

total_days = len(attendance)

percentage = (present_count / total_days) * 100

print("Attendance Percentage:", percentage)

Attendance Percentage: 80.0

## Problem 6: Remove Duplicate Phone Numbers

In [7]:
phone_numbers = [9876543210, 9123456789, 9876543210]

unique_numbers = set(phone_numbers)
print("Unique phone numbers:", unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

## Problem 7: Count Character Frequency

In [8]:
text = input("Enter a string: ")
char_count = {}

for char in text:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1

print("Character Frequency:", char_count)

Enter a string:  python

Character Frequency: {'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

## Problem 8: Convert List to Tuple

In [9]:
numbers = [10, 20, 30]

numbers_tuple = tuple(numbers)
print("Tuple:", numbers_tuple)

Tuple: (10, 20, 30)

## Problem 9: Check if a Key Exists in a Dictionary

In [11]:
# If exists

employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

name = input("Enter employee name: ")

if name in employees:
    print("Employee exists")
else:
    print("Employee not found")

Enter employee name:  Ravi

Employee exists

In [12]:
# If not exists

employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

name = input("Enter employee name: ")

if name in employees:
    print("Employee exists")
else:
    print("Employee not found")

Enter employee name:  Hemant

Employee not found

## Problem 10: Calculate Average Marks

In [13]:
marks = [70, 80, 65, 75]

total = sum(marks)
count = len(marks)

average = total / count

print("Average Marks:", average)

Average Marks: 72.5